@model IEnumerable<HealthInsurance.Models.Hospital>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h1>Manager Hospitals</h1>
<div class="searchInner">
    <form method="post">
        <div class="row">
            <div class="searchField col-md-3 col-4">
                <input type="text" name="keyword" value="@ViewBag.keyword" placeholder="Search name here..." />
            </div>
            <div class="searchField col-md-3 col-4">
                <input type="text" name="location" value="@ViewBag.location" placeholder="Search location here..." />
            </div>
            <div class="searchField col-md-3 col-4">
                <input type="text" name="phone" value="@ViewBag.phone" placeholder="Search phone here..." />
            </div>
            <div class="btnFilter col-md col-12">
                <input type="submit" value="Filter" class="btn btn-primary" />
            </div>
        </div>
    </form>
</div>

<div class="btnCreateNew">
    <a asp-action="Create">Create New</a>
</div>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Phone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Location)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Phone)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Location)
                </td>
                <td>
                    <div class="d-flex gap-3">
                        <a asp-action="Edit" asp-route-id="@item.Id">
                            <i class="fa-solid fa-pen"></i>
                        </a>
                        <a asp-action="Delete" asp-route-id="@item.Id">
                            <i class="fa-solid fa-trash" style="color: #ff0000;"></i>
                        </a>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>
@*<script>
    let table = new DataTable('#tableData');
</script>*@


