@model X.PagedList.IPagedList<HealthInsurance.Models.Hospital>
@using X.PagedList.Mvc.Core
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h1>Manager Hospitals</h1>
<div class="searchInner">
    <form method="post">
        <div class="row">
            <div class="searchField col-md-3 col-4">
                <input type="text" name="keyword" value="@ViewBag.keyword" placeholder="Search name here..." />
            </div>
            <div class="searchField col-md-3 col-4">
                <input type="text" name="location" value="@ViewBag.location" placeholder="Search location here..." />
            </div>
            <div class="searchField col-md-3 col-4">
                <input type="text" name="phone" value="@ViewBag.phone" placeholder="Search phone here..." />
            </div>
            <div class="btnFilter col-md col-12">
                <input type="submit" value="Filter" class="btn btn-primary" />
            </div>
        </div>
    </form>
</div>

<div class="btnCreateNew">
    <a asp-action="Create">Create New</a>
</div>
<table class="table">
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
                Phone
            </th>
            <th>
                Location
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Phone)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Location)
                </td>
                <td>
                    <div class="d-flex gap-3">
                        <a asp-action="Edit" asp-route-id="@item.Id">
                            <i class="fa-solid fa-pen"></i>
                        </a>
                        <a asp-action="Delete" asp-route-id="@item.Id">
                            <i class="fa-solid fa-trash" style="color: #ff0000;"></i>
                        </a>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>
<div>
    @Html.PagedListPager(Model,page => Url.Action("Index","Hospitals",new { page = page}))
</div>
@*<script>
    let table = new DataTable('#tableData');
</script>*@


