@model IEnumerable<HealthInsurance.Areas.Admin.Models.News>

@{
    ViewData["Title"] = "News List";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h1>News List</h1>

<div class="searchInner">
    <form method="post">
        <div class="row">
            <div class="searchField col-md-4 col-6">
                <input type="text" name="keyword" value="@ViewBag.keyword" placeholder="Search content here..." />
            </div>
          
            <div class="btnFilter col-md col-12">
                <input type="submit" value="Filter" class="btn btn-primary" />
            </div>
        </div>
    </form>
</div>

<div class="btnCreateNew">
    <a asp-action="Create">Create New</a>
</div>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Image)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <img style="width:50px;height:50px" src="~/Upload/news/@item.Image">
                    @*@Html.DisplayFor(modelItem => item.Image)*@
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td id="Description">
                    @Html.Raw(item.Description)
                </td>
                <td>
                    <div class="d-flex gap-3">
                        <a asp-action="Edit" asp-route-id="@item.Id">
                            <i class="fa-solid fa-pen"></i>
                        </a>
                        <a asp-action="Delete" asp-route-id="@item.Id">
                            <i class="fa-solid fa-trash" style="color: #ff0000;"></i>
                        </a>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>
@*<script>
    $(document).ready(function () {
        $('#tableData').DataTable();
    });
</script>*@