@model X.PagedList.IPagedList<HealthInsurance.Models.Employee>
@using X.PagedList.Mvc.Core
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}
<h1>Employee List</h1>
<div class="searchInner">
    <form asp-action="Index" method="post">
        <div class="row">
            <div class="searchField col-md-4 col-6">
                <input type="text" name="keyword" value="@ViewBag.keyword" placeholder="Search content here..." />
            </div>
            <div class="searchField col-md-4 col-6">
                <input type="text" name="role" value="@ViewBag.role" placeholder="Role" />
            </div>
            <div class="btnFilter col-md col-12">
                <input type="submit" value="Filter" class="btn btn-primary" />
            </div>
        </div>
    </form>
</div>
<div class="btnCreateNew">
    <a asp-action="Create">Create New</a>
</div>
<table class="table table-hover table-borderless">
    <thead>
        <tr>
            <th>
                UserName
            </th>
            <th>
                Password
            </th>
            <th>
                FullName
            </th>
            @*<th>
            @Html.DisplayNameFor(model => model.DateOfBirth)
            </th>*@
            <th>
                Email
            </th>
            @*<th>
            @Html.DisplayNameFor(model => model.Address)
            </th>*@
            @*<th>
            @Html.DisplayNameFor(model => model.JoinDate)
            </th>*@
            <th>
                UserRole
            </th>
            <th>
                PolicyStatus
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.UserName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Password)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FullName)
                </td>
                @*<td>
            @Html.DisplayFor(modelItem => item.DateOfBirth)
            </td>*@
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                @*<td>
            @Html.DisplayFor(modelItem => item.Address)
            </td>*@
                @*<td>
            @Html.DisplayFor(modelItem => item.JoinDate)
            </td>*@
                <td>
                    @Html.DisplayFor(modelItem => item.UserRole)
                </td>
                <td class="d-flex align-items-center">
                    @if (item.PolicyStatus.Equals(true))
                    {
                        <div class="status-dot status-active"></div>

                        <span>Active</span>
                    }
                    else
                    {
                        <div class="status-dot status-warning"></div> <span>Pending</span>
                    }
                </td>
                <td>
                    <div class="d-flex gap-3">
                        <a asp-action="Edit" asp-route-id="@item.Id">
                            <i class="fa-solid fa-pen"></i>
                        </a>
                        <a asp-action="Delete" asp-route-id="@item.Id">
                            <i class="fa-solid fa-trash" style="color: #ff0000;"></i>
                        </a>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>
<div>
    @Html.PagedListPager(Model,page => Url.Action("Index","Employees",new { page = page}))
</div>

@*<script>
    let table = new DataTable('#tableData');
</script>*@