@model IEnumerable<HealthInsurance.Models.PolicyOnEmp>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h1>Manager Policy Request</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table" id="tableData">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Policy)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Employee)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EmiSubmitted)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StartDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EndDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PolicyStatus)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Policy.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Employee.FullName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EmiSubmitted)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StartDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EndDate)
                </td>
                <td class="d-flex align-items-center">
                    @if (item.PolicyStatus.Equals(true))
                    {
                        <div class="status-dot status-active"></div>

                        <span>Active</span>
                    }
                    else
                    {
                        <div class="status-dot status-warning"></div> <span>Pending</span>
                    }
                </td>
                <td>
                    <div class="d-flex gap-3">
                        <a asp-action="Edit" asp-route-id="@item.Id">
                            <i class="fa-solid fa-pen"></i>
                        </a>
                        <a asp-action="Delete" asp-route-id="@item.Id">
                            <i class="fa-solid fa-trash" style="color: #ff0000;"></i>
                        </a>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>
<script>
    let table = new DataTable('#tableData');
</script>

