@model X.PagedList.IPagedList<HealthInsurance.Models.PolicyOnEmp>
@using X.PagedList.Mvc.Core
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h1>Manager Policy Request</h1>
<div class="searchInner">
    <form method="post">
        <div class="row">
            <div class="searchField col-md-4 col-6">
                <input type="text" name="keyword" value="@ViewBag.keyword" placeholder="Search policy or employee here..." />
            </div>
            <div class="btnFilter col-md col-12">
                <input type="submit" value="Filter" class="btn btn-primary" />
            </div>
        </div>
    </form>
</div>

<div class="btnCreateNew">
    <a asp-action="Create">Create New</a>
</div>
<table class="table">
    <thead>
        <tr>
            <th>
                Policy
            </th>
            <th>
                Employee
            </th>
            <th>
                EmiSubmitted
            </th>
            <th>
                StartDate
            </th>
            <th>
                EndDate
            </th>
            <th>
                PolicyStatus
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Policy.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Employee.FullName)
                </td>
                <td>
                    $@(((decimal)item.EmiSubmitted).ToString("#,##0.##"))
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StartDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EndDate)
                </td>
                <td class="d-flex align-items-center">
                    @if (item.PolicyStatus.Equals(true))
                    {
                        <div class="status-dot status-active"></div>

                        <span>Active</span>
                    }
                    else
                    {
                        <div class="status-dot status-warning"></div> <span>Pending</span>
                    }
                </td>
                <td>
                    <div class="d-flex gap-3">
                        <a asp-action="Edit" asp-route-id="@item.Id">
                            <i class="fa-solid fa-pen"></i>
                        </a>
                        <a asp-action="Delete" asp-route-id="@item.Id">
                            <i class="fa-solid fa-trash" style="color: #ff0000;"></i>
                        </a>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>
<div>
    @Html.PagedListPager(Model,page => Url.Action("Index"," PolicyOnEmps",new { page = page}))
</div>
@*<script>
    let table = new DataTable('#tableData');
</script>*@

